
.user-container {
	  background-color: #fef68a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .user-details {
    flex: 1;
  }
  
  .promote-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .promote-button:hover {
    background-color: #45a049;
  }
  .user-p{
    color:black;
  }
  